<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Elaborado por Lina Alvarado</h5>
        <p class="card-text">Envio de correos electronicos a estudiantes, dependiendo sus necesidades y requerimientos para completar procesos educativos administrativos</p>
        <p>Sending emails to students, depending on their needs and requirements, to complete administrative educational processes.</p>
    </div>
    <div class="card-footer text-body-secondary">
        Gracias por visitar mi aplicacion
    </div>
</div>